<%- include("template/cabecera",{tituloweb:"404"}) %>
<style>
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>
<body>
    <h1>Error 404</h1>
    <h2><%= titulo404 %></h2>
    <h3><%= descripcion %></h3>
</body>
</html>