<%- include("template/cabecera",{tituloweb:"404"}) %>

<body>
    <div class="body">
        <h1>Error 404</h1>
        <h2><%= titulo404 %></h2>
        <h3><%= descripcion %></h3>
    </div>
<%- include("template/footer") %>