
<%- include("template/cabecera", {tituloweb:"Index"}) %>

<body> 
    <div class="body">
        <h1>Pagina Index carpeta view</h1>
        <h2><%= titulo %></h2>
    </div>

    <%- include("template/footer") %>