<%- include("template/cabecera", {tituloweb:"Index"}) %>
<style>
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>
<body> 
    <h1>Pagina Index carpeta view</h1>
    <h2><%= titulo %></h2>
</body>
</html>