<%- include("template/cabecera",{tituloweb:"Servicios"}) %>
<style>
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>
<body>
    <h1>Pagina Index de servicios</h1>
    <h2><%= tituloservicios %></h2>
</body>
</html>