<%- include("template/cabecera",{tituloweb:"Servicios"}) %>


<body>
    <div class="body">
        <h1>Pagina Index de servicios</h1>
        <h2><%= tituloservicios %></h2>
    </div>

    <%- include("template/footer") %>